<launch>
<arg name="record" default="false" />
	<arg name="gui" default="true" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find stadion)/worlds/stadion.world" unless="$(arg record)"/>
    <arg name="world_name" value="$(find stadion)/worlds/stadion-with-video.world" if="$(arg record)"/>
    <!-- more default parameters can be changed here -->
    <arg name="headless" value="false" />
    <arg name="gui" value="$(arg gui)"/>
  </include>
</launch>
