<launch>
	<node name="networking" pkg="autogator" type="networking.py" />
<!--	<node name="gps" pkg="autogator" type="gps.py" />-->
<!--	<node name="master" pkg="autogator" type="master.py" />-->
	<include file="$(find gazebo_ros)/launch/rubble_world.launch">
        <arg name="world_name" value="worlds/rubble.world"/>  Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="true"/>
  </include>
</launch>