<?xml version="1.0"?>

<model>
  <name>field_surveyor</name>
  <version>1.0</version>

  <sdf version="1.4">model/model.sdf</sdf>

  <author>
    <name>morten christensen</name>
    <email>morten.christensen@conpleks.com</email>
  </author>

  <description>
    gazebo model of the field surveyor robot
  </description>
</model>
